{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmafeatures": {
      "jsx": true
    },
    "ecmaversion": "latest",
    "sourcetype": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-unused-vars": {
      "severity": "error"
    }
  }
}